In [59]:
import psycopg2
from pprint import pprint
import db_conn
from db_conn import *
import csv
import json
import pandas as pd

class DBConnection:
    def __init__(self,infile):
        try:
            params = config(infile)
            self.connection = psycopg2.connect(**params)
            self.connection.autocommit = True
            self.cursor = self.connection.cursor()
        except:
            pprint("Cannot connect to database")
            
    def execute_command(self,command):
        try:
            self.cursor.execute(command)
        except:
            print 'Error！！！'+command
    
    def find_attributes(self,table_name):
        self.cursor.execute("Select * FROM {0}".format(table_name))
        colnames = [desc[0] for desc in self.cursor.description]
        return colnames
    
    def insert_new_record(self,table_name,new_record,fill_attributes):#row by row insertion
        #new_record = table_attributes
        i = 0
        try:
            record = "INSERT INTO {0}".format(table_name) + fill_attributes + " VALUES('" 
            for j in range(0,len(new_record)-1):
                bug = new_record[j].replace('\'','\'\'').strip()
                record = record + bug + "','"
            bug2 = new_record[-1].replace('\'','\'\'').strip()
            record = record + bug2 + "')"
            insert_command = record.replace("'null'","null")
            #pprint(insert_command)
            #print insert_command
            i+=1
            try:
                self.cursor.execute(insert_command)
            except:
                print 'Error！！！'+insert_command
        except:
            print i
        
    def insert_new_record_lowercase(self,table_name,new_record,fill_attributes):#row by row insertion
        #new_record = table_attributes
        record = "INSERT INTO {0}".format(table_name) + fill_attributes + " VALUES('" 
        for j in range(0,len(new_record)-1):
            bug = new_record[j].replace('\'','\'\'').strip()
            record = record + bug + "','"
        bug2 = new_record[-1].replace('\'','\'\'').strip()
        record = record + bug2 + "')"
        insert_command = record.replace("'null'","null").lower()
        #pprint(insert_command)
        #print insert_command
        try:
            self.cursor.execute(insert_command)
        except:
            print 'Error！！！'+insert_command

    def query_all(self,table_name):
        self.cursor.execute("SELECT * FROM {0}".format(table_name))
        tuple_all = self.cursor.fetchall()
        return tuple_all
        #for tuple_each in tuple_all:
            #pprint("each_tuple : {0}".format(tuple_each))

    def drop_table(self,table_name):
        drop_table_command = "DROP TABLE {0}".format(table_name)
        self.cursor.execute(drop_table_command)


def gen_realtion_attribute(fieldnames):
    fill_attributes = '('
    for i in range(0,len(fieldnames)-1):
        fill_attributes += fieldnames[i]+','
    fill_attributes = fill_attributes + fieldnames[-1] + ')'
    return fill_attributes


def fetch_database_data(infile, command, *values):
    params = config(infile)
    conn = psycopg2.connect(**params)
    cur = conn.cursor()
    if not values:        
        try:
            cur.execute(command)      
            rows = cur.fetchall()
            return rows
        except psycopg2.Error as e:
            print e
    else:
        try:
            cur.execute(command, values)      
            rows = cur.fetchall()
            return rows
        except psycopg2.Error as e:
            print e        
    cur.close()
    conn.close()

In [39]:
def insert_data_from_aws(table_name_from,table_name_to,field_names,database_from):
    try:
        tuple_all = fetch_database_data(database_from, "Select * from {0};".format(table_name_from))
    except:
        print 'no such table in aws_old'
    fill_attributes = gen_realtion_attribute(field_names)    
    for tuple_each_in in range(0,len(tuple_all)):
        tuple_each = list(tuple_all[(tuple_each_in)])
        for each_item_index in range(0,len(tuple_each)):
            try:
                tuple_each[each_item_index] = str(int(tuple_each[each_item_index])).replace("nan","null").replace("None","null")
            except:
                tuple_each[each_item_index] = str(tuple_each[each_item_index]).replace("nan","null").replace("None","null")
            #print tuple_each[each_item_index]
            #tuple_each[each_item_index].replace("nan","null")
        #print tuple_each
        database_connection.insert_new_record(table_name_to,tuple_each,fill_attributes)

In [40]:
def insert_data_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,database_from):
    try:
        tuple_all = fetch_database_data(database_from, "Select * from {0};".format(table_name_from))
    except:
        print 'no such table in aws_old'
    database_connection2 = DBConnection(database_from)
    column_names = database_connection2.find_attributes(table_name_from)
    extract_index = []
    #print column_names
    for field_name_each in field_names_from:
        extract_index.append(column_names.index(field_name_each.lower().strip()))
    fill_attributes = gen_realtion_attribute(field_names_to)    
    for tuple_each_in in range(0,len(tuple_all)):
        tuple_each_new = []
        tuple_each = list(tuple_all[(tuple_each_in)])
        for each_item_index in range(0,len(extract_index)):
            try:
                tuple_each[extract_index[each_item_index]] = str(int(tuple_each[extract_index[each_item_index]])).replace("nan","null").replace("None","null")
            except:
                tuple_each[extract_index[each_item_index]] = str(tuple_each[extract_index[each_item_index]]).replace("nan","null").replace("None","null")
            tuple_each_new.append(tuple_each[extract_index[each_item_index]])
            #print tuple_each[each_item_index]
            #tuple_each[each_item_index].replace("nan","null")
        #print tuple_each_new
        database_connection.insert_new_record(table_name_to,tuple_each_new,fill_attributes)

In [41]:
def company_index_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,source_id,database_from):
    try:
        tuple_all = fetch_database_data(database_from, "Select * from {0};".format(table_name_from))
    except:
        print 'no such table in aws_old'
    database_connection2 = DBConnection(database_from)
    column_names = database_connection2.find_attributes(table_name_from)
    extract_index = []
    #print column_names
    for field_name_each in field_names_from:
        extract_index.append(column_names.index(field_name_each.lower().strip()))
    fill_attributes = gen_realtion_attribute(field_names_to)    
    for tuple_each_in in range(0,len(tuple_all)):
        tuple_each_new = []
        tuple_each = list(tuple_all[(tuple_each_in)])
        for each_item_index in range(0,len(extract_index)):
            try:
                tuple_each[extract_index[each_item_index]] = str(int(tuple_each[extract_index[each_item_index]])).replace("nan","null").replace("None","null")
            except:
                tuple_each[extract_index[each_item_index]] = str(tuple_each[extract_index[each_item_index]]).replace("nan","null").replace("None","null")
            tuple_each_new.append(tuple_each[extract_index[each_item_index]])
            for i in range(0,len(source_id)):
                tuple_each_new.append(source_id[i])
            #print tuple_each[each_item_index]
            #tuple_each[each_item_index].replace("nan","null")
        #print tuple_each_new
        database_connection.insert_new_record(table_name_to,tuple_each_new,fill_attributes)

In [42]:
def import_existing_table(table_name,filed_name,source_id,csv_path,extract_attributes):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list  = []
    for i in range(0,len(extract_attributes)):
        tuple_list.append([])
    attribute_index = []
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        for aim_attribute in extract_attributes:
            index = tuple_all[0].index(aim_attribute)
            attribute_index.append(index)
        del tuple_all[0]
    for idx in range(0,len(tuple_all)):
        for j in range(0,len(extract_attributes)):
            tuple_list[j].append(tuple_all[idx][attribute_index[j]])
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,len(tuple_each)):
            if len(tuple_each[i].strip()) == 0 or tuple_each[i].lower() == 'none':
                tuple_each[i] = 'null'          
        if flag == 1:
            for source_index in range(0,len(source_id)):
                tuple_each.append(source_id[source_index])
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [43]:
def insert_company_attribute(table_name,filed_name,source_id,csv_path,aim_attribute):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        index = tuple_all[0].index(aim_attribute)
        tuple_all.pop(0)
    for company_idx in range(0,len(tuple_all)):
        tuple_list[0].append(tuple_all[company_idx][0])
        tuple_list[1].append(tuple_all[company_idx][index])
        tuple_list[2].append(str(source_id[0]))
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,len(tuple_each)):
            if len(tuple_each[i].strip()) == 0:
                tuple_each[i] = 'null'
                flag = 0
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [44]:
def insert_company_attribute_size(table_name,filed_name,source_id,csv_path,aim_attribute):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        index = tuple_all[0].index(aim_attribute)
        tuple_all.pop(0)
    for company_idx in range(0,len(tuple_all)):
        tuple_list[0].append(tuple_all[company_idx][0])
        tuple_list[1].append(tuple_all[company_idx][index].replace(',',''))
        #print type(tuple_all[company_idx][index])
        tuple_list[2].append(str(source_id[0]))
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,len(tuple_each)):
            if len(tuple_each[i].strip()) == 0:
                tuple_each[i] = 'null'
                flag = 0
        
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            #print tuple_each
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [45]:
def insert_company_attribute_lower(table_name,filed_name,source_id,csv_path,aim_attribute):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        index = tuple_all[0].index(aim_attribute)
        tuple_all.pop(0)
        tuple_all.pop(0)
    for company_idx in range(0,len(tuple_all)):
        tuple_list[0].append(tuple_all[company_idx][0])
        tuple_list[1].append(tuple_all[company_idx][index])
        tuple_list[2].append(str(source_id[0]))
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,len(tuple_each)):
            if len(tuple_each[i].strip()) == 0:
                tuple_each[i] = 'null'
                flag = 0
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            database_connection.insert_new_record_lowercase(table_name,tuple_each,fill_attributes)

In [46]:
def insert_company_OnetoM(table_name,filed_name,source_id,csv_path,extract_attributes):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    attribute_index = []
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        for aim_attribute in extract_attributes:
            index = tuple_all[0].index(aim_attribute)
            attribute_index.append(index)
        del tuple_all[0]
        del tuple_all[0]
    for company_idx in range(0,len(tuple_all)):
        for j in range(0,len(attribute_index)):
            tuple_list[0].append(tuple_all[company_idx][0])
            tuple_list[1].append(tuple_all[company_idx][attribute_index[j]])
            tuple_list[2].append(str(source_id[j]))
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,len(tuple_each)):
            if len(tuple_each[i].strip()) == 0 or tuple_each[i].lower() == 'none':
                tuple_each[i] = 'null'
                flag = 0   
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            #print tuple_each
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [47]:
def company_url_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,source_id_dict,database_from):
    try:
        tuple_all = fetch_database_data(database_from, "Select * from {0};".format(table_name_from))
    except:
        print 'no such table in aws_old'
    database_connection2 = DBConnection(database_from)
    column_names = database_connection2.find_attributes(table_name_from)
    extract_index = []
    #print column_names
    for field_name_each in field_names_from:
        extract_index.append(column_names.index(field_name_each.lower().strip()))
    fill_attributes = gen_realtion_attribute(field_names_to)    
    for tuple_each_in in range(0,len(tuple_all)):
        tuple_each_new = []
        tuple_each = list(tuple_all[(tuple_each_in)])
        for each_item_index in range(0,len(extract_index)-1):
            try:
                tuple_each[extract_index[each_item_index]] = str(int(tuple_each[extract_index[each_item_index]])).replace("nan","null").replace("None","null")
            except:
                tuple_each[extract_index[each_item_index]] = str(tuple_each[extract_index[each_item_index]]).replace("nan","null").replace("None","null")
            tuple_each_new.append(tuple_each[extract_index[each_item_index]])
        url_type = tuple_each[extract_index[-1]]
        aim_source_id =  (source_id_dict[url_type])
        tuple_each_new.append(aim_source_id)
                #print tuple_each_new
        database_connection.insert_new_record(table_name_to,tuple_each_new,fill_attributes)

In [48]:
def company_iot_url_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,source_id_dict,database_from):
    try:
        tuple_all = fetch_database_data(database_from, "Select * from {0};".format(table_name_from))
    except:
        print 'no such table in aws_old'
    database_connection2 = DBConnection(database_from)
    column_names = database_connection2.find_attributes(table_name_from)
    extract_index = []
    #print column_names
    for field_name_each in field_names_from:
        extract_index.append(column_names.index(field_name_each.lower().strip()))
    fill_attributes = gen_realtion_attribute(field_names_to)   
    i = 0
    for tuple_each_in in range(0,len(tuple_all)):
        tuple_each_new = []
        tuple_each = list(tuple_all[(tuple_each_in)])
        for each_item_index in range(0,len(extract_index)-1):
            try:
                tuple_each[extract_index[each_item_index]] = str(int(tuple_each[extract_index[each_item_index]])).replace("nan","null").replace("None","null")
            except:
                tuple_each[extract_index[each_item_index]] = str(tuple_each[extract_index[each_item_index]]).replace("nan","null").replace("None","null")
            tuple_each_new.append(tuple_each[extract_index[each_item_index]])
        url_type = tuple_each[extract_index[-1]]
        if  url_type == 'IoT_URL':
            aim_source_id =  (source_id_dict[url_type])
            tuple_each_new.insert(0,str(i))
            tuple_each_new.append(aim_source_id)
            #print tuple_each_new
            try:
                database_connection.insert_new_record(table_name_to,tuple_each_new,fill_attributes)
                i += 1
            except:
                print 'error'

In [49]:
def insert_address_M(table_name,filed_name,csv_path,extract_attributes):
    fill_attributes = gen_realtion_attribute(fieldnames) 
    tuple_address_all = []
    tuple_index = []
    tuple_list = []
    for i in range(0,len(extract_attributes)):
        tuple_list.append([])
    attribute_index = []
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        for aim_attribute in extract_attributes:
            index = tuple_all[0].index(aim_attribute)
            attribute_index.append(index)
        del tuple_all[0]
        del tuple_all[0]
    for company_idx in range(0,len(tuple_all)):
        if tuple_all[company_idx][attribute_index[-1]] not in tuple_list[-1]:
            for j in range(0,len(attribute_index)):
                tuple_list[j].append(tuple_all[company_idx][attribute_index[j]])   
    count_not_null = 0#the unique index the pimary key
    tuple_new = zip(*tuple_list)
    #################for address_table pick the valid tuple###################
    for tuple_each_in in range(0,len(tuple_new)):
        #print tuple_each_in
        tuple_each = list(tuple_new[tuple_each_in])
        #print tuple_each
        check_all_null = 0
        flag = 1
        for i in range(0,len(tuple_each)):
            if len(tuple_each[i].strip()) == 0 or tuple_each[i].strip().lower() == 'none' or tuple_each[i].strip().lower() == 'n/a': #:
                tuple_each[i] = 'null'
                check_all_null+=1
        if check_all_null == len(attribute_index):
                flag = 0
        #print flag
    ###############for company_address_table,pick the valid####################
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
           # full_address_each = tuple_each.pop(-1)
            full_address_each = tuple_each[-1]
            count_not_null += 1
            tuple_index.append(tuple_each[0])
            tuple_address_all.append(full_address_each)
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)
    return tuple_index,tuple_address_all

In [50]:
def insert_company_address(table_name,filed_name,source_id,csv_path,extract_attributes,company_address_type):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    attribute_index = []
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        for aim_attribute in extract_attributes:
            index = tuple_all[0].index(aim_attribute)
            attribute_index.append(index)
        del tuple_all[0]
    for company_idx in range(0,len(tuple_all)):
        tuple_list[0].append(tuple_all[company_idx][0])
        aim = tuple_all[company_idx][attribute_index[-1]]
        try:
            a = (company_dict[aim])
            tuple_list[1].append(a)
        except:
            tuple_list[1].append('null')
        tuple_list[2].append(company_address_type[0])
        tuple_list[-1].append(str(source_id[0]))
    tuple_new = zip(*tuple_list)
   ###########################this is filter function##########################################
    count_not_null = 0
    flag = 1
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,len(tuple_each)):#BECAUSE THIS FLAG IS NOT THE FIRST
            if len(tuple_each[i].strip()) == 0 or tuple_each[i].strip().lower() == 'none' or tuple_each[i].strip().lower() == 'n/a' or  tuple_each[i].strip().lower() == 'null':
                tuple_each[i] = 'null'
                flag = 0
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [51]:
def insert_title_attribute(table_name,filed_name,source_id,csv_path,aim_attribute):
    #table_name = "company_phone_table" 
    #fieldnames = ("cpt_id","company_id"," source_id","company_phone")
    ################################################################################################################
    fill_attributes = gen_realtion_attribute(fieldnames)              
    print fill_attributes
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    title_list0 = []
    title_list1 = []
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        index = tuple_all[0].index(aim_attribute)
        tuple_all.pop(0)
    #print len(tuple_all)
    for company_idx in range(0,len(tuple_all)):
        if tuple_all[company_idx][index] not in tuple_list[0]:
            #tuple_2.append(str(source_id))
            tuple_list[0].append(tuple_all[company_idx][index])
            tuple_list[1].append('null')
            tuple_list[-1].append(str(source_id[0]))
    tuple_new = zip(*tuple_list)
    #print tuple_new
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,len(tuple_each)):
            if len(tuple_each[i].strip()) == 0 or tuple_each[i].lower() == 'none' or tuple_each[i].lower() == 'n/a':
                tuple_each[i] = 'null'
        if tuple_each[0] == 'null' and tuple_each[1] == 'null':
            flag = 0
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            title_list0.append(tuple_each[0])
            title_list1.append(tuple_each[1])
            count_not_null += 1
            #print tuple_each
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)
    return title_list0,title_list1

In [52]:
def insert_people_index(table_name,filed_name,source_id,csv_path,aim_attribute):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list = []
    for i in range(0,len(filed_name)):
        tuple_list.append([])
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        index = 0#tuple_all[0].index(aim_attribute)
        tuple_all.pop(0)
    for person_idx in range(0,len(tuple_all)):
        tuple_list[0].append(tuple_all[person_idx][index])
        tuple_list[1].append(str(source_id[0]))
        tuple_list[2].append(str(source_id[1]))
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,len(tuple_each)):
            if len(tuple_each[i].strip()) == 0 or tuple_each[i].lower() == 'none' or tuple_each[i].lower() == 'n/a':
                tuple_each[i] = 'null'
                flag = 0
#############################filter tuples#############################################           
        if flag == 1:
            #count_not_null += 1
            #print tuple_each
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [53]:
def insert_person_attribute(table_name,filed_name,source_id,csv_path,aim_attribute):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        index = tuple_all[0].index(aim_attribute)
        tuple_all.pop(0)
    for company_idx in range(0,len(tuple_all)):
        tuple_list[0].append(tuple_all[company_idx][0])
        tuple_list[1].append(tuple_all[company_idx][index])
        tuple_list[2].append('work')
        tuple_list[-1].append(str(source_id[0]))
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        if len(tuple_each[1].strip()) == 0 or tuple_each[1].strip().lower() == 'none' or tuple_each[1].strip().lower() == 'n/a':
            flag = 0
            tuple_each[2] = 'null'
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            #print tuple_each
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [54]:
def insert_person_OnetoM(table_name,filed_name,source_id,csv_path,extract_attributes,type_id):
    #table_name = "company_phone_table" 
    #fieldnames = ("cpt_id","company_id"," source_id","company_phone")
    ################################################################################################################
    fill_attributes = gen_realtion_attribute(fieldnames)              
    #print fill_attributes
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    attribute_index = []
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        #print tuple_all[0]
        for aim_attribute in extract_attributes:
            index = tuple_all[0].index(aim_attribute)
            attribute_index.append(index)
        del tuple_all[0]
    for company_idx in range(0,len(tuple_all)):
        for j in range(0,len(attribute_index)):
            tuple_list[0].append(tuple_all[company_idx][0])
            tuple_list[1].append(tuple_all[company_idx][attribute_index[j]])
            tuple_list[2].append(str(type_id[j]))
            tuple_list[-1].append(str(source_id[j]))
    #tuple_new = zip(tuple_2,tuple_3,tuple_4,tuple_5)
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    
    for tuple_each in tuple_new:
        flag = 1
        tuple_each = list(tuple_each)
        if len(tuple_each[1].strip()) == 0 or tuple_each[2].strip().lower() == 'none' or tuple_each[1].strip().lower() == 'n/a':
            flag = 0
            tuple_each[2] = 'null'       
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [55]:
def insert_person_name(table_name,filed_name,source_id,csv_path,extract_attributes):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    attribute_index = []
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)
        for aim_attribute in extract_attributes:
            index = tuple_all[0].index(aim_attribute)
            attribute_index.append(index)
        del tuple_all[0]
    for company_idx in range(0,len(tuple_all)):
        tuple_list[0].append(tuple_all[company_idx][0])
        tuple_list[1].append(tuple_all[company_idx][attribute_index[0]])
        tuple_list[2].append(tuple_all[company_idx][attribute_index[1]])
        tuple_list[3].append(tuple_all[company_idx][attribute_index[2]])
        tuple_list[-1].append(str(source_id[0]))
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        if len(tuple_each[1].strip()) == 0 and len(tuple_each[3].strip()) == 0:
            flag = 0
            tuple_each[1] = 'null'
            tuple_each[3] = 'null'
        else:
            flag = 1
        if len(tuple_each[2].strip()) == 0:
            tuple_each[2] = 'null'
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [56]:
def company_name_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,source_id_dict,keys,values,database_from):
    try:
        tuple_all = fetch_database_data(database_from, "Select * from {0};".format(table_name_from))
    except:
        print 'no such table in aws_old'
    database_connection2 = DBConnection(database_from)
    column_names = database_connection2.find_attributes(table_name_from)
    extract_index = []
    #print column_names
    for field_name_each in field_names_from:
        extract_index.append(column_names.index(field_name_each.lower().strip()))
    fill_attributes = gen_realtion_attribute(field_names_to)   
    list_keys = []
    list_values = []
    for tuple_each_in in range(0,len(tuple_all)):
        tuple_each_new = []
        tuple_each = list(tuple_all[(tuple_each_in)])
        for each_item_index in range(0,len(extract_index)-1):
            try:
                tuple_each[extract_index[each_item_index]] = str(int(tuple_each[extract_index[each_item_index]])).replace("nan","null").replace("None","null")
            except:
                tuple_each[extract_index[each_item_index]] = str(tuple_each[extract_index[each_item_index]]).replace("nan","null").replace("None","null")
            tuple_each_new.append(tuple_each[extract_index[each_item_index]])
        url_type = tuple_each[extract_index[-1]]
        aim_source_id =  (source_id_dict[url_type])
        tuple_each_new.append(aim_source_id)
        database_connection.insert_new_record(table_name_to,tuple_each_new,fill_attributes)
        list_keys.append(tuple_each_new[field_names_to.index(keys)])
        list_values.append(tuple_each_new[field_names_to.index(values)])
    return list_keys, list_values

In [57]:
def insert_person_job(table_name,filed_name,source_id,csv_path,extract_attributes,current):
    fill_attributes = gen_realtion_attribute(fieldnames)              
    #print fill_attributes
    tuple_list = []
    for i in range(0,len(filed_name)-1):
        tuple_list.append([])
    attribute_index = []
    with open(csv_path, 'rb') as f:
        reader = csv.reader(f)
        tuple_all= list(reader)       
        for aim_attribute in extract_attributes:
            index = tuple_all[0].index(aim_attribute)
            attribute_index.append(index)
        del tuple_all[0]
    for company_idx in range(0,len(tuple_all)):
        aim0 = tuple_all[company_idx][attribute_index[0]]
        try:
            a0 = company_dict[aim0]
            #print a
            tuple_list[0].append(a0)
            #print title_dict[aim]
        except:
            tuple_list[0].append('null') 
        tuple_list[1].append(tuple_all[company_idx][0])
        aim = tuple_all[company_idx][attribute_index[1]]
        try:
            a = title_dict[aim]
            tuple_list[2].append(a)
        except:
            tuple_list[2].append('null')
    
        tuple_list[3].append(tuple_all[company_idx][attribute_index[2]])
        tuple_list[4].append(tuple_all[company_idx][attribute_index[3]])
        tuple_list[5].append(current)
        tuple_list[6].append(source_id[0])
       
    tuple_new = zip(*tuple_list)
    count_not_null = 0
    flag = 1
    for tuple_each in tuple_new:
        tuple_each = list(tuple_each)
        flag = 1
        for i in range(0,3):#because this flag is not the last one
            if len(tuple_each[i].strip()) == 0 or tuple_each[i].strip().lower() == 'none' or tuple_each[i].strip().lower() == 'n/a' or  tuple_each[i].strip().lower() == 'null':
                tuple_each[i] = 'null'
                flag = 0
        if flag == 1:
            tuple_each.insert(0,str(count_not_null))
            count_not_null += 1
            #print tuple_each
            database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [21]:
database_connection = DBConnection('database.ini')
database_from = 'database_aws_old.ini'
table_name_from = "coe_table"
table_name_to = "coe_table"
field_names = ("coe_id","coe_name","coe_type","coe_year","coe_expiration_date","coe_expire")
insert_data_from_aws(table_name_from,table_name_to,field_names,database_from)

In [22]:
table_name_from = "coe_tag_table"
table_name_to = "coe_tag_table"
field_names = ("coe_tag_id","coe_tag_name","coeparent_tag_id")
insert_data_from_aws(table_name_from,table_name_to,field_names,database_from)

In [23]:
table_name_from = "coe_tag_combination_table" 
table_name_to = "coe_tag_combination_table" 
field_names = ("coe_tag_combination_id","coe_tag_id"," coe_id ")
insert_data_from_aws(table_name_from,table_name_to,field_names,database_from)

In [24]:
table_name_from = "url_table" 
table_name_to = "coe_url_table"
field_names_to = ("coe_url_id","coe_url","coe_html_path","time_stamp","coe_id","coe_expired","coe_extracted_csv_path","coe_extract_type")
field_names_from = ["url_id","url","html_path","timestamp","coe_id","expired","extracted_csv_path","extract_type"]
insert_data_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,database_from)

In [25]:
table_name_from = "membership_table" 
table_name_to = "coe_membership_table" 
field_names_from = ["membership_id","membership_name","membership_score","url_id"]
field_names_to = ("coe_membership_id","coe_membership_name","coe_membership_score","coe_url_id")
insert_data_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,database_from)

In [26]:
table_name = "user_table" 
fieldnames = ("user_id","user_name","user_type")
fill_attributes = gen_realtion_attribute(fieldnames)              
tuple_all = [['0','out_source',"outsource"],['1','data_team',"employee"],['2','data_team',"employee"],['3','data_team',"employee"],['4','data_team',"employee"]]
for tuple_each in tuple_all:
    for i in range(0,len(tuple_each)):
        if len(tuple_each[i].strip()) == 0:
                tuple_each[i] = 'null'
    database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [27]:
table_name = "manual_table" 
fieldnames = ("manual_id","user_id","time_stamp")
fill_attributes = gen_realtion_attribute(fieldnames)              
tuple_all = [['0','0','7/28/17 10:23:54'],['1','1','8/24/17 10:23:54'],['2','2','3/29/18 10:23:54'],['3','3','8/4/18 10:23:54'],['4','4','8/14/18 10:23:54']]
for tuple_each in tuple_all:
    for i in range(0,len(tuple_each)):
        if len(tuple_each[i].strip()) == 0:
                tuple_each[i] = 'null'
    database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [60]:
table_name_to = "auto_table" 
field_names_to = ("auto_id","coe_url_id","to_be_further_added")   
table_name_from = "url_table"
field_names_from = ['url_id']  
try:
    tuple_all = fetch_database_data(database_from, "Select * from {0};".format(table_name_from))
except:
    print 'no such table in aws_old'

database_connection2 = DBConnection(database_from)
column_names = database_connection2.find_attributes(table_name_from)
extract_index = []  

for field_name_each in field_names_from:
    extract_index.append(column_names.index(field_name_each.lower().strip()))
    
fill_attributes = gen_realtion_attribute(field_names_to) 
print fill_attributes
for tuple_each_in in range(0,len(tuple_all)):
    tuple_each_new = []
    tuple_each = list(tuple_all[(tuple_each_in)])
    for each_item_index in range(0,len(extract_index)):
        try:
            tuple_each[extract_index[each_item_index]] = str(int(tuple_each[extract_index[each_item_index]])).replace("nan","null").replace("None","null")
        except:
            tuple_each[extract_index[each_item_index]] = str(tuple_each[extract_index[each_item_index]]).replace("nan","null").replace("None","null")
        tuple_each_new.append(tuple_each[extract_index[each_item_index]])
    tuple_each_new.append('n/a')
    tuple_each_new.insert(0,str(tuple_each_in))
    #print tuple_each_new
    database_connection.insert_new_record(table_name_to,tuple_each_new,fill_attributes)

(auto_id,coe_url_id,to_be_further_added)

In [90]:

table_name = "source_table" 
fieldnames = ("source_id","auto_id","manual_id","source_confidence","source_description")
fill_attributes = gen_realtion_attribute(fieldnames)              
tuple_1_s = ['0','1','2','3','4']
tuple_2_s = ['','','','','']
tuple_3_s = ['0','1','2','3','4']
tuple_4_s = ['0','0','5','5','10']
tuple_5_s = ['outsource confidence 0','employee at time 1 confidence 0','employee at time 2 confidence 5','employee at time 3 confidence 10','employee at time 4 confidence 10']
len_manual = len(tuple_1_s)

for source_id in range(0,len(tuple_1_s)):
    tuple_1_s.append(str(source_id+len_manual))
    tuple_2_s.append(tuple_1[source_id])
    tuple_3_s.append('')
    tuple_4_s.append('1')
    tuple_5_s.append('n/a')

tuple_all_s = zip(tuple_1_s,tuple_2_s,tuple_3_s,tuple_4_s,tuple_5_s)
for tuple_each in tuple_all_s:
    tuple_each = list(tuple_each)
    for i in range(0,len(tuple_each)):
        if len(tuple_each[i].strip()) == 0:
            tuple_each[i] = 'null'
    database_connection.insert_new_record(table_name,tuple_each,fill_attributes)

In [91]:
table_name_from = "company_basic_information_table" 
table_name_to = "company_table"  
field_names_from = ["company_id"]
field_names_to = ("company_id","first_establish_id","last_update_id")
source_id = ['1','2']
company_index_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,source_id,database_from)

In [92]:
table_name_to = "coe_company_table" 
table_name_from = "combination_table"
field_names_to = ("coe_combination_id","company_id"," coe_membership_id")
field_names_from = ['combination_id','company_id','membership_id']
insert_data_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,database_from)

In [93]:
table_name = "Company_Raw_Tag_Table" 
fieldnames = ("Company_Raw_Tag_Name","CRTT_Id","Source_ID ")
csv_path = 'TagNameToTagID - TagNameToTagID.csv'
extract_attributes = ['Tag Name','Tag Index ID']
source_id = ['1']
import_existing_table(table_name,fieldnames,source_id,csv_path,extract_attributes)

In [94]:
table_name = "Company_Tag_Relation_Table" 
fieldnames = ("CTRT_ID","Company_ID","CRTT_ID","Source_ID ")
csv_path = 'CompanyIDToTagID - CompanyIDToTagID.csv'
extract_attributes = ['Company Tag Relation ID','Company ID','Tag ID']
source_id = ['1']## this should correspond with extract_attributes
import_existing_table(table_name,fieldnames,source_id,csv_path,extract_attributes)

In [95]:
table_name = "Polished_Tag_Table" 
fieldnames = ("PTT_Id","CRTT_ID","Ptt_Type","Source_ID ")
csv_path = 'TagIDWithVerticalHorizontal - TagIDWithVerticalHorizontal.csv'
extract_attributes = ['Tag Vertical Horizontal Relation ID','Tag ID','Vertical or Horizontal']
source_id = ['1']
import_existing_table(table_name,fieldnames,source_id,csv_path,extract_attributes)

In [96]:
table_name = "Raw_Tag_Polished_Tag_Relation_Table" 
fieldnames = ("RTPTRT_id","CRTT_ID","PTT_Id","Source_ID ")
csv_path = 'TagIDPolishedTagIDRelation - TagIDPolishedTagIDRelation.csv'
extract_attributes = ['Tag ID Polished Tag Relation ID Relation','Tag ID','Polished Tag Relation ID']
source_id = ['1']
import_existing_table(table_name,fieldnames,source_id,csv_path,extract_attributes)

In [97]:
table_name = "company_phone_table" 
fieldnames = ("cpt_id","company_id","company_phone"," source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Company Phone'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('160','203','+32 479 44 58 58','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('530','712','+49 6452 91400','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('556','746','+1 650-503-2200','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('562','754','+86 10 6230 1618','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('694','940','+46 8 525 002 50','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('709','965','+48 12 646 10 00','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('714','971','+1 510-972-9709','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('748','1017','+44 1223 225060','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('792','1083','+34 936 45 29 00','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1019','1400','+358 10 26000','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1144','1574','+31 26 442 4423','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1246','1713','+1 800-571-6066','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1405','1937','+44 113 383 1000','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1623','2228','+886 2 6631 8168','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1726','2376','+44 20 3393 8902','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1796','2468','+1 646663488','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1826','2513','+49 821 45331616','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1877','2578','+82 2-3777-1114','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1933','2660','+1 925-275-6611','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('1985','2729','+82 70-4891-5958','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2223','3050','+1 650-331-1127','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2294','3156','+1 858-812-3400','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2302','3166','+44 23 8115 9585','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2487','3452','+41 43 508 33 22','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2618','3627','+1 972-821-6949','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2619','3628','+1 972-821-6949','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2741','3810','+1 917-494-4909','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2761','3841','+1 888-755-7233','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2802','3893','+82 31-739-7801','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2835','3938','+972 3-510-9402','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('2836','3940','+48 12 376 95 98','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('3268','4554','186-65243540','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('3620','5032','+1 888-756-4256','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('3885','5607','+33 1 83 64 65 41','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('3917','5677','+1 866-204-0200','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('3918','5678','+1 212-492-4000','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('3990','5894','+46 35 17 29 00','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('3998','5920','+1 800-837-4966','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4015','6069','+1 800-726-7864','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4016','6071','+86 400 889 2891','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4023','6083','+1 714-805-9283','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4085','6281','+1 617-314-9802','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4102','6298','+1 909-793-2853','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4110','6308','+886 2 8226 7786','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4117','6316','+1 866-275-1411','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4132','6331','+46 31 746 55 50','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4143','6342','+49 6173 9463800','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4144','6343','+1 206-239-5600','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4161','6360','+33 1 77 18 16 82','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4162','6361','+351 2133044034','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4163','6362','+41 44 308 37 64','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4164','6363','+44 1256 962260','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4198','6403','+1 425-968-5291','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4201','6406','+1 877-779-6336','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('4343','6608','+886 2 8993 2257','1')
Error！！！INSERT INTO company_phone_table(cpt_id,company_id,company_phone, source_id) VALUES('7602','10657','+1 512-723-7120','1')

In [98]:
table_name = "company_email_table" 
fieldnames = ("cet_id","company_id","company_email"," source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Company Email'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('169','203','hello@allorafactory.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('582','712','info@embedded-intelligence.de','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('614','746','support@c3iot.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('621','754','shenyaqin@catr.cn','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('770','940','sales@clxcommunications.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('792','965','contact@com4innov.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('797','971','info@comfyapp.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('834','1017','cyanindia@cyanconnode.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('888','1083','info@cttc.es','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1118','1372','info@eitdigital.eu','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1139','1400','etunimi.sukunimi@elisa.fi','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1278','1574','sales@eyesont.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1390','1713','services@freshalley.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1559','1937','info@harvardtechnology.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1648','2055','guybar27@gmail.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1786','2228','master@iii.org.tw','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1898','2376','info@f-in.co.uk','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('1967','2468','support@getkisi.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2000','2513','marketing@kuka.de','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2055','2578','info@lg.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2121','2660','help@lora-alliance.org','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2177','2729','cslee@ magconn.net','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2437','3050','press@nest.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2522','3156','info@nvtl.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2530','3166','info@nquiringminds.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2736','3452','daniel.ebinger@pingcom.net','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2881','3627','info@qqqtech.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('2882','3628','info@qqqtech.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('3026','3810','info@roostlabs.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('3027','3811','press@roostlabs.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('3049','3841','info@safeplug.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('3090','3893','sales@sbsystems.co.kr','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('3126','3938','info@seebo.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('3128','3940','support@silvair.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4007','5032','support@halosmartlabs.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4278','5607','contact@actility.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4309','5677','contact@ssni.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4310','5678','dtcareers@deloitte.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4379','5894','info@hms.se','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4386','5920','support@verizon.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4398','6069','info@smartthings.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4399','6071','overseas@wuliangroup.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4406','6083','na@greenwavereality.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4458','6281','info@skyhookwireless.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4475','6298','info@esri.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4483','6308','jennyshern@nexcom.com.tw','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4491','6316','socialcareprogram@sprint.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4506','6331','fredrik.nyberg@altran.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4517','6342','germany@avanade.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4518','6343','corpcomms@avanade.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4534','6360','info@codit.eu','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4535','6361','info@codit.eu','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4536','6362','info@codit.eu','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4537','6363','info@codit.eu','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4573','6403','info@insideradius.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4576','6406','info@macadamian.com','1')
Error！！！INSERT INTO company_email_table(cet_id,company_id,company_email, source_id) VALUES('4717','6608','hermes@blazing.com.tw','1')

In [99]:
table_name = "company_blog_table" 
fieldnames = ("cbt_id","company_id","company_blog"," source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Blog'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('302','940','https://www.clxcommunications.com/blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('310','971','https://www.comfyapp.com/blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('418','1372','https://www.eitdigital.eu/newsroom/blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('847','3050','https://nest.com/blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1094','3938','https://blog.seebo.com/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1096','3940','https://blog.silvair.com/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1416','5032','https://halosmartlabs.com/blogs/news','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1526','5677','https://www.silverspringnet.com/blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1527','5678','https://www2.deloitte.com/global/en/pages/about-deloitte/topics/deloitte-perspectives-blogs.html','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1557','5894','https://www.hms-networks.com/industrial-iot-solutions/iot-blog','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1563','6069','https://blog.smartthings.com/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1582','6281','http://blog.skyhookwireless.com/company/trueposition-acquires-skyhook-wireless','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1592','6298','https://blogs.esri.com/esri/arcgis/2012/03/07/welcome-to-the-new-unified-arcgis-blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1596','6316','http://newsroom.sprint.com/blogs/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1607','6342','https://www.avanade.com/de-de/blogs','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1608','6343','https://www.avanade.com/en/blogs/avanade-insights','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1616','6360','https://www.codit.eu/blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1617','6361','https://www.codit.eu/blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1618','6362','https://www.codit.eu/blog/','1')
Error！！！INSERT INTO company_blog_table(cbt_id,company_id,company_blog, source_id) VALUES('1619','6363','https://www.codit.eu/blog/','1')

In [100]:
table_name = "company_description_table" 
fieldnames = ("cdt_id","company_id","company_description"," source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Company Description'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('142','754','China Academy of Telecommunication Research (CATR), with its predecessor being China Academy of Posts and Telecommunications of the former Ministry of Posts and Telecommunications (MPT) established in the mid-1950s, has since its founding undertaken a great deal of major  research for the country and the industry. It has thus accumulated rich experience in communications policies, standards for telecommunication technologies, planning of communications development, and product testing and certification, making great contributions to the development of communications industry in China.<br />　　Since the founding of the Ministry of Industry and Information Technology (MIIT), CATR, deepening reform and bringing integrated advantage into full play on the basis of development, has become the pillar unit in the ICT field in China and a major supportive unit for MIIT in comprehensive policies, giving full support to MIIT in terms of technologies and policies at both macro and micro levels from domestic and international perspectives.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('283','1400','Elisa is a telecommunications, ICT and online service company serving 2.3 million consumer, corporate and public administration organisation customers. Elisa provides environmentally sustainable services for communication and entertainment, and tools for improving operating methods and productivity of organisations. In Finland, Elisa is the market leader in mobile subscriptions. Cooperation with Vodafone and Telenor enables globally competitive services. Elisa is listed on Nasdaq Helsinki Large Cap with approximately 200 000 shareholders. Elisa’s revenue in 2015 was 1.57 billion euros and it employed 4,100 people.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('462','2228','In the early 1970s, Taiwan faced crucial challenges arising from global energy crisis and trade protectionism implemented by industrial countries. It thus became top priority of the government to come up with policies on industrial and economic development so as to transform the traditional industrial model into the technology-intensive industrial model and to increase Taiwan’s competitiveness. On 17th May 1979, Executive Yuan passed the “Proposal on Science and Technology Development” in its 1663 Grand Meeting, resolving to incorporate a non-governmental organization— “Institute for Information Industry” (“III”) through the joint efforts of public and private sectors. Later on 24th July, with persistent efforts from past Senior Advisor to the Presidency, Mr. Kuo-Ting Li, III was established so as to “promote effective application of information technology, increase national comprehensive competitiveness, create preconditions and environment for information industry to develop, and to strengthen the competitiveness of information industry.” In recent 40 years, III has taken part in planning and promoting public policies related to information industry. It has contributed to the pioneer research and development in information and communication technology, the deepening and broadening of information applications,the training and education of talents in this field and the participation in building infrastructure for national information technology. III’s achievements have been widely recognized.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1168','5607','Actility is uniquely placed to realize the synergies between technology and business.  They are a rapidly growing company envisioning a better, more sustainable world.  They are at the heart of an ever-growing network of partners and customers, all using their technology, knowledge, and business innovation to work toward their vision.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1202','5677','Cities, utilities, and companies on five continents use the company’s cost-effective, high-performance IoT network and data platform to operate more efficiently, get greener, and enable innovative services.  With more than 26.7 million devices delivered, Silver Spring provides a proven standards-based platform safeguarded with military grade security for Smart Utilities, Smart Cities, and Industrial IoT solutions.  Silver Spring Networks’ customers include Baltimore Gas & Electric, CitiPower & Powercor, ComEd, Consolidated Edison, CPS Energy, Florida Power & Light, Pacific Gas & Electric, Pepco Holdings, and Singapore Power. Silver Spring has also deployed networks in Smart Cities including Copenhagen, Glasgow, Paris, Providence, and Stockholm.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1203','5678','“Deloitte” is the brand under which tens of thousands of dedicated professionals in independent firms throughout the world collaborate to provide audit, consulting, financial advisory, risk management, tax, and related services to select clients. These firms are members of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”). Each DTTL member firm provides services in particular geographic areas and is subject to the laws and professional regulations of the particular country or countries in which it operates.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1276','5894','HMS Industrial Networks & Litmus Automation develops and manufactures software and hardware for industrial communication.  HMS develops and manufactures solutions under three brands: Anybus, IXXAT and eWON.  HMS can offer a complete solution — from product development through manufacturing and support.  The company is headquartered in Halmstad, Sweden and has development centers in Germany and Belgium.  Local sales and support are handled by branch offices in China, Switzerland, France, Germany, Italy, India, Japan, UK and USA, plus distributors in more than 50 countries.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1286','5920','Verizon Communications Inc., through its subsidiaries, provides communications, information, and entertainment products and services to consumers, businesses, and governmental agencies worldwide. Its Wireless segment offers wireless voice and data services; Internet access on various smart and basic phones, notebook computers, and tablets; and multimedia access, business-focused, location-based, global data, home phone handsets, and high-speed Internet services, as well as network access and value added services to support wireless connections for the Internet of Things (IoT). This segment also provides IoT services that support devices used in fleet management and telematics, energy, agricultural technology, and smart community markets; and wireless devices, such as smartphones and basic phones, tablets, and other Internet access devices','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1304','6069','SmartThings is based in Mountain View, California and operates independently as a wholly owned subsidiary of Samsung Electronics. SmartThings enables things such as lights, doors, keys, plants, and cars to work better for their users, making them feel more secure, more in control, more efficient, and simply more delighted.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1305','6071','Wulian is a professional manufacturer and supplier for Smart Home products and solutions. Founded in 2009, Wulian has developed into the leader in Smart Home industry worldwide with advanced R&D strength, comprehensive product categories and integrated system. The current products and solutions cover a wide range including Energy-Efficient Lighting, Security Supervision, Home Appliances Management, Environmental Detection, and more. In 2015, Wulian joined the ZigBee Alliance as Promoter and Director of Board, actively participating in defining and promoting global IoT standards.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1312','6083','Greenwave Systems is comprised of hundreds of dedicated engineers and experts around the world empowering service providers and IoT stakeholders to develop richer networks, smarter services, and connected devices with the AXON Platform. <br /><br />Unlike vertical applications built to a narrow set of specific use cases, AXON Platform is horizontally built and modular by design, scaling to connect a broad and ever-expanding range of device-powered, real-time data. With the AXON Platform, IoT language barriers are a thing of the past. Data from devices and services with disparate protocols (Bluetooth, Wi-Fi, ZigBee, Z-Wave and more) are all translated into the same, standard IP-based language, leveraging a powerful automation engine to connect the widest variety of IoT devices from the widest variety of vendors.','1')

Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1373','6281','In 2003 Skyhook Wireless developed an innovative way to obtain location. Using Wi-Fi signals would be faster, more precise and battery-friendly than GPS and cell-towers alone.  It collected the locations of billions of Wi-Fi access points worldwide and built the infrastructure and software to deliver the information.  Its products include Skyhook Precision Location, Skyhook Context, and Skyhook Personas for connectivity locations and insights into user data.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1390','6298','Esri inspires and enables people to positively impact their future through a deeper, geographic understanding of the changing world around them. ArcGIS provides contextual tools for mapping and spatial reasoning so you can explore data and share location-based insights. ArcGIS is a complete system for designing and managing solutions through the application of geographic knowledge. Esri helps you build and manage great information products by providing the ultimate platform for geospatial integration and application.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1400','6308','Founded in 1992, NEXCOM integrates its capabilities and operates six global businesses, which are IoT Automation Solutions, Intelligent Digital Security, Internet of Things, Intelligent Platform & Services, Mobile Computing Solutions, and Network and Communication Solutions. NEXCOM serves its customers worldwide through its subsidiaries in five major industrial countries. Under the IoT megatrend, NEXCOM expands its offerings with solutions in emerging applications including IoT, robot, connected cars, Industry 4.0, and industrial security.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1408','6316','We’re obsessed with creating awesome solutions that deliver amazing experiences. We’re here to unleash the power of mobile technology. And we’re going to help you','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1423','6331','As a world leader in innovation and high-tech R & D, Altran, together with its customers, is developing the products and services of the future. For more than 30 years, Altran has delivered solutions to leading companies and organizations in sectors such as space, vehicles, energy, rail, finance, healthcare and telecom.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1434','6342','Avanade is a leading provider of innovative digital services, business solutions and design-oriented applications. The experience of our employees and state-of-the-art technologies in the Microsoft environment form the basis for our cooperation with our customers. Worldwide, 29,000 people work in 23 countries for Avanade, all digitally networked. Avanade was founded in 2000 by Accenture LLP and Microsoft Corporation and is majority owned by Accenture.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1435','6343','Avanade is the leading provider of innovative digital and cloud services, business solutions and design-led experiences delivered through the power of people and the Microsoft ecosystem.  Our professionals bring bold, fresh thinking combined with technology, business and industry expertise to help fuel transformation and growth for our clients and their customers.  Avanade has 30,000 digitally connected people across 24 countries, bringing clients the best thinking through a collaborative culture that honors diversity and reflects the communities in which we operate. Majority owned by Accenture, Avanade was founded in 2000 by Accenture LLP and Microsoft Corporation.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1452','6360','Codit is a leading IT services company providing consultancy, technology and managed services in business integration. We successfully help companies reduce operational costs, improve efficiency and enhance control by enabling people and applications to integrate more efficiently.<br />Having started as a highly competent Microsoft BizTalk Server specialist focused on integration, we have grown substantially to become a leader in business integration, API Management, Azure and Internet of Things, using a wide range of Microsoft technologies, including innovative cloud-based solutions.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1453','6361','Codit is a leading IT services company providing consultancy, technology and managed services in business integration. We successfully help companies reduce operational costs, improve efficiency and enhance control by enabling people and applications to integrate more efficiently.<br /><br />Having started as a highly competent Microsoft BizTalk Server specialist focused on integration, we have grown substantially to become a leader in business integration, API Management, Azure and Internet of Things, using a wide range of Microsoft technologies, including innovative cloud-based solutions.<br /><br />Codit employs about 150 people in Belgium, the Netherlands, France, Portugal, Switzerland, Malta and United Kingdom, of which 90 are certified Integration Engineers working in our offices or at the customers''​ premises. Since its inception in the year 2000 Codit has successfully implemented over 300 integration solutions worldwide.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1454','6362','Codit is a leading IT services company providing consultancy, technology and managed services in business integration. We successfully help companies reduce operational costs, improve efficiency and enhance control by enabling people and applications to integrate more efficiently.<br /><br />Having started as a highly competent Microsoft BizTalk Server specialist focused on integration, we have grown substantially to become a leader in business integration, API Management, Azure and Internet of Things, using a wide range of Microsoft technologies, including innovative cloud-based solutions.<br /><br />Codit employs about 150 people in Belgium, the Netherlands, France, Portugal, Switzerland, Malta and United Kingdom, of which 90 are certified Integration Engineers working in our offices or at the customers''​ premises. Since its inception in the year 2000 Codit has successfully implemented over 300 integration solutions worldwide.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1455','6363','Codit is a leading IT services company providing consultancy, technology and managed services in business integration. We successfully help companies reduce operational costs, improve efficiency and enhance control by enabling people and applications to integrate more efficiently.  Having started as a highly competent Microsoft BizTalk Server specialist focused on integration, we have grown substantially to become a leader in business integration, API Management, Azure and Internet of Things, using a wide range of Microsoft technologies, including innovative cloud-based solutions.','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1492','6403','he proliferation of smart devices of any form. The maturation of cloud-based services and data science. The standardization of the industry middleware, from APIs to connectivity management. The confluence of these technologies is creating new opportunities where none existed before, and the effect is being seen at businesses of all types, around the world.  From helping our clients navigate this new technology landscape, to complete enterprise hardware/software solution development, our cross-functional team meets the growing needs of enterprise companies in the connected space.<br />','1')
Error！！！INSERT INTO company_description_table(cdt_id,company_id,company_description, source_id) VALUES('1495','6406','Macadamian is a full service software design and development firm. From product ideation to market ready – and everything in between, we provide a complete range of usability, design and engineering services. Our solutions are founded in design that thinks of the customer first while leveraging the cloud, Big Data, and the Internet of Things to deliver context-aware and adaptive experiences. <br /><br />We bring unmatched technical chops including broad domain expertise in mobility, VoIP, SaaS, Web and desktop applications, HTML5, iOS, Android and more, combined with our sector expertise in the mobility, enterprise, healthcare and consumer industries.<br />','1')

In [101]:
table_name = "company_facebook_table" 
fieldnames = ("cft_id","company_id","company_facebook"," source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Facebook'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('136','203','https://www.facebook.com/alloraFactory/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('496','746','https://www.facebook.com/C3IoT/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('630','940','https://www.facebook.com/CLX-Networks-157221240998497/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('646','965','https://www.facebook.com/comarchpl','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('650','971','https://www.facebook.com/comfyapp/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('721','1083','https://www.facebook.com/CttcTech','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('922','1372','https://www.facebook.com/EITDigital/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('940','1400','https://www.facebook.com/elisasuomi','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1145','1713','https://www.facebook.com/freshalleySF','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1176','1762','Wrong URL','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1296','1937','https://www.facebook.com/harvardtechnology/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1388','2055','https://www.facebook.com/Hyfit-970155016426514/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1506','2228','https://www.facebook.com/pages/%E8%B3%87%E7%AD%96%E6%9C%83/111667082185680','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1649','2468','https://www.facebook.com/Kisi.Inc/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1682','2513','https://www.facebook.com/kuka.systems','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1728','2578','https://www.facebook.com/LGUSA/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('1840','2729','https://www.facebook.com/magconn/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('2082','3050','https://www.facebook.com/nest','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('2161','3156','https://www.facebook.com/MiFiHotspot','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('2612','3810','https://www.facebook.com/SmartRoost','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('2613','3811','https://www.facebook.com/SmartRoost','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('2629','3841','https://www.facebook.com/SafePlug-179625905413581/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('2659','3893','https://www.facebook.com/sbsystems.story/posts/1131410970220828','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('2693','3938','https://www.facebook.com/Seebo.IoT/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('2695','3940','https://www.facebook.com/meetsilvair/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3109','4554','https://www.facebook.com/TempAlert/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3430','5032','https://www.facebook.com/halosmartlabs','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3678','5607','https://www.facebook.com/actility/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3706','5677','https://www.facebook.com/SilverSpringNetworks','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3707','5678','https://www.facebook.com/DeloitteUS/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3766','5894','https://www.facebook.com/HMSIndustrialNetworks/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3771','5920','https://www.facebook.com/verizon/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3782','6069','https://www.facebook.com/SmartThings/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3783','6071','https://www.facebook.com/NanjingWulianGroup/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3835','6281','https://www.facebook.com/Skyhook','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3847','6298','https://www.facebook.com/esrigis/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3856','6308','https://www.facebook.com/NexcomUS/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3862','6316','https://www.facebook.com/sprint','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3873','6331','https://www.facebook.com/altran.se/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3884','6342','https://www.facebook.com/AvanadeDACH/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3885','6343','https://www.facebook.com/Avanade/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3898','6360','https://www.facebook.com/Coditcompany/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3899','6361','https://www.facebook.com/Coditcompany/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3900','6362','https://www.facebook.com/Coditcompany/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3901','6363','https://www.facebook.com/Coditcompany/','1')
Error！！！INSERT INTO company_facebook_table(cft_id,company_id,company_facebook, source_id) VALUES('3932','6406','https://www.facebook.com/MacadamianTech/','1')

In [102]:
table_name = "company_linkedin_table" 
fieldnames = ("clt_id","company_id","company_linkedin"," source_id",)
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Linkedin'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('158','203','https://www.linkedin.com/company-beta/10398402/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('564','746','https://www.linkedin.com/company-beta/414478','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('720','940','https://www.linkedin.com/company-beta/634222/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('740','965','https://www.linkedin.com/company-beta/3529/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('745','971','https://www.linkedin.com/company-beta/7968992/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('777','1017','https://www.linkedin.com/company-beta/40315/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('833','1083','https://www.linkedin.com/company/cttc/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1065','1372','https://www.linkedin.com/company-beta/1014431/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1087','1400','https://www.linkedin.com/company-beta/4406/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1225','1574','https://www.linkedin.com/company-beta/9367311/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1337','1713','https://www.linkedin.com/company-beta/6616055/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1492','1937','https://www.linkedin.com/company/harvard-americas/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1581','2055','https://www.linkedin.com/company-beta/17921203','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1714','2228','https://www.linkedin.com/company-beta/14257/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1882','2468','https://www.linkedin.com/company-beta/2879815/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1917','2513','https://www.linkedin.com/company-beta/52310/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('1972','2578','https://www.linkedin.com/company-beta/3503/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2335','3050','https://www.linkedin.com/company-beta/2374003/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2414','3156','https://www.linkedin.com/company/10149','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2423','3166','https://www.linkedin.com/company-beta/1897963/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2625','3452','https://www.linkedin.com/company/10442046/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2896','3810','https://www.linkedin.com/company-beta/4035780/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2897','3811','https://www.linkedin.com/company-beta/4035780/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2919','3841','https://www.linkedin.com/company-beta/230683/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2996','3938','https://www.linkedin.com/company-beta/1477687/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('2998','3940','https://www.linkedin.com/company-beta/5095122/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('3452','4554','https://www.linkedin.com/company-beta/816925/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('3808','5032','https://www.linkedin.com/company-beta/3586896/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4133','5677','https://www.linkedin.com/company-beta/165973/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4134','5678','https://www.linkedin.com/company-beta/1038/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4204','5894','https://www.linkedin.com/company-beta/287056/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4208','5920','https://www.linkedin.com/company-beta/2696/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4222','6069','https://www.linkedin.com/company-beta/2686346/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4223','6071','https://www.linkedin.com/company-beta/2558173/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4229','6083','https://www.linkedin.com/company-beta/358660/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4282','6281','https://www.linkedin.com/company-beta/224783/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4297','6298','https://www.linkedin.com/company-beta/5311/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4306','6308','https://www.linkedin.com/company-beta/1751256/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4313','6316','https://www.linkedin.com/company-beta/1106/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4337','6342','https://www.linkedin.com/showcase/3583914/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4338','6343','https://www.linkedin.com/company/3033/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4353','6360','https://www.linkedin.com/company/51447/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4354','6361','https://www.linkedin.com/company/51447/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4355','6362','https://www.linkedin.com/company/51447/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4356','6363','https://www.linkedin.com/company/51447/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4391','6403','https://www.linkedin.com/company/2923540/','1')
Error！！！INSERT INTO company_linkedin_table(clt_id,company_id,company_linkedin, source_id) VALUES('4394','6406','https://www.linkedin.com/company/22536/','1')

In [103]:
table_name = "company_twitter_table" 
fieldnames = ("ctt_id","company_id","company_twitter"," source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Twitter'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('143','203','https://twitter.com/allorafactory','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('534','746','https://twitter.com/C3IoT','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('682','940','https://twitter.com/CLXCommsAB','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('700','965','https://twitter.com/comarchgroup','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('704','971','https://twitter.com/comfyapp','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('733','1017','https://twitter.com/Cyanconnode','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('786','1083','https://twitter.com/CttcTech','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1006','1372','https://twitter.com/EIT_Digital','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1025','1400','https://twitter.com/elisaoyj','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1247','1713','https://twitter.com/FreshAlleyInc','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1284','1762','Wrong URL','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1406','1937','https://twitter.com/HarvardAmericas','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1498','2055','https://twitter.com/HyfitLTD','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1789','2468','https://twitter.com/kisi','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1827','2513','https://twitter.com/kuka_roboticsen','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1873','2578','https://twitter.com/LGUS','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('1933','2660','https://twitter.com/loraalliance','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2214','3050','https://twitter.com/nest','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2298','3156','https://twitter.com/MiFi','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2306','3166','https://twitter.com/nqminds','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2708','3703','https://twitter.com/ridelogik','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2784','3810','https://twitter.com/smartroost','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2785','3811','https://twitter.com/smartroost','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2803','3841','https://twitter.com/SafePlugEnergy','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2871','3938','https://twitter.com/seebo','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('2873','3940','https://twitter.com/meetsilvair','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('3305','4554','https://twitter.com/tempalert','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('3648','5032','https://twitter.com/halosmartlabs','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('3931','5607','https://twitter.com/actility','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('3963','5677','https://twitter.com/silverspringnet','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('3964','5678','https://twitter.com/deloitte','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4026','5894','https://twitter.com/hmsnetworks','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4031','5920','https://twitter.com/verizon','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4042','6069','https://twitter.com/smartthings','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4043','6071','https://twitter.com/wulianhomesmart','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4091','6281','https://twitter.com/Skyhook','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4105','6298','https://twitter.com/Esri','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4113','6308','https://twitter.com/nexcomusa','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4120','6316','https://twitter.com/sprint','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4131','6331','https://twitter.com/Altran_Sca','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4142','6342','https://twitter.com/AvanadeDACH','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4143','6343','https://twitter.com/AvanadeInc','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4156','6360','https://twitter.com/coditcompany','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4157','6361','https://twitter.com/coditcompany','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4158','6362','https://twitter.com/coditcompany','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4159','6363','https://twitter.com/coditcompany','1')
Error！！！INSERT INTO company_twitter_table(ctt_id,company_id,company_twitter, source_id) VALUES('4189','6406','https://twitter.com/macadamianlabs','1')

In [104]:
table_name = "Company_News_Table" 
fieldnames = ("cnews_id","company_id","company_news"," source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'News'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('253','746','http://c3iot.com/iot-news/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('317','940','https://www.clxcommunications.com/news-events/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('325','965','http://www.comarch.com/press-center/news/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('328','971','https://www.comfyapp.com/press/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('450','1400','http://corporate.elisa.com/responsibility/news/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('608','1937','http://www.harvardtechnology.com/company/company-updates/news/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('708','2228','http://web.iii.org.tw/Press/NewsList.aspx?fm_sqno=14','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('804','2513','https://www.kuka.com/en-us/press/news?media=all','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('827','2578','http://www.lgnewsroom.com/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('852','2660','https://www.lora-alliance.org/News-Events/In-The-News','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('985','3050','https://nest.com/press/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1029','3156','http://www.nvtl.com/news-and-events/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1034','3166','http://nquiringminds.com/category/news/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1276','3841','http://www.safeplug.com/news-media','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1319','3938','https://seebo.com/industry-news/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1815','5677','https://www.silverspringnet.com/newsroom/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1816','5678','https://www2.deloitte.com/us/en/footerlinks/newsroom.html?icid=bottom_newsroom','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1863','5894','https://www.hms-networks.com/press','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1867','5920','http://www.verizon.com/about/news/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1872','6069','https://blog.smartthings.com/category/news/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1873','6071','http://www.wuliangroup.com/en/site/MediaInfo','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1916','6281','http://www.skyhookwireless.com/press','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1926','6298','http://www.esri.com/esri-news','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1933','6308','http://www.nexcom.com/?aspxerrorpath=/News','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1938','6316','http://newsroom.sprint.com/news-releases/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1951','6342','https://www.avanade.com/de-de/media-center','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1952','6343','https://www.avanade.com/en/media-center/in-the-news','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1964','6360','https://www.codit.eu/news-and-events/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1965','6361','https://www.codit.eu/news-and-events/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1966','6362','https://www.codit.eu/news-and-events/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1967','6363','https://www.codit.eu/news-and-events/','1')
Error！！！INSERT INTO Company_News_Table(cnews_id,company_id,company_news, source_id) VALUES('1987','6406','http://www.macadamian.com/news-events/','1')

In [105]:

table_name = "Company_size_Table" 
fieldnames = ("csize_id","company_id","company_size"," source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Company Size'
source_id = ['1']
insert_company_attribute_size(table_name,fieldnames,source_id,csv_path,aim_attribute)

In [106]:
table_name = "Company_Status_Table" 
fieldnames = ("cst_id","company_id","company_status","last_update_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
aim_attribute = 'Status'
source_id = ['1']
insert_company_attribute_lower(table_name,fieldnames,source_id,csv_path,aim_attribute)

Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('732','754','inactive','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('989','1017','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('1529','1574','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('1711','1762','inactive','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('2160','2228','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('2305','2376','inactive','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('2500','2578','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('2546','2625','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('3697','3810','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('3698','3811','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('3819','3940','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('4417','4554','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5132','5300','first choice','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5387','5580','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5422','5619','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5438','5635','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5615','5835','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5693','5920','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5716','5945','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5836','6069','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('5995','6252','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6022','6281','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6069','6331','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6080','6342','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6097','6360','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6098','6362','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6099','6363','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6122','6387','first choice','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6298','6575','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6314','6595','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6322','6612','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6326','6622','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6353','6669','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6446','6776','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6542','6876','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6551','6885','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6748','7084','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('6772','7108','active','1')
Error！！！insert into company_status_table(cst_id,company_id,company_status,last_update_id) values('7096','7439','first choice','1')

In [107]:
company_url_type = ["Official URL","Main_URL","Alternative_URL","IoT_URL"]
source_id_list = ['3','2','1','4']
source_id_dict = dict(zip(company_url_type,source_id_list))
table_name_from = "Company_URL_Table" 
table_name_to = "Company_URL_Table" 
field_names_from = ["cut_id","company_id","company_url","company_url_type"]
field_names_to = ("cut_id","company_id","company_url","source_id")
company_url_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,source_id_dict,database_from)

Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('27598','6001','http://www.iotracked.com/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('31879','3867','www.sanmina.com','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('44146','7194','http://www.netapp.com','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('46626','1056','http://www.cradlepoint.com','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('46628','15128','http://www.IoTMktg.com','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51141','1524','http://www.eurotech.com/en/products/software+services/everyware+software+framework/what+esf+is','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51142','3707','https://www.redhat.com/iot','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51143','101','http://www.adlinktech.com/prismtech-vortex-dds/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51144','497','http://www.azulsystems.com/products/zulu-embedded','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51147','6289','http://bitreactive.com','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51148','14329','http://www.ca.com/us/products/api-management/solutions/api-management-for-mobile/api-management-for-iot.aspx','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51150','14401','https://www.contact-software.com/en/products/elements-for-iot/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51152','4768','https://www.ubuntu.com/internet-of-things','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51156','1195','https://www.qivicon.com/en/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51167','7125','https://networks.nokia.com/innovation/iot','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51171','5334','https://www.artik.io/overview/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51173','4049','http://siemens.com','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51174','4050','http://www.sierrawireless.com/productsandservices/AirVantage_M2M_Cloud.aspx','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51175','4849','http://www.v2com.com/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('51991','23034','https://www.mcmc.gov.my/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('53499','490','http://www.azbil.com/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('56395','4811','https://www.iol.unh.edu/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('56398','735','http://www.bureauveritas.com/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('56407','8078','http://en.pisen.com.cn/','1')
Error！！！INSERT INTO Company_URL_Table(cut_id,company_id,company_url,source_id) VALUES('58450','6208','http://www.saturnsouth.com/','1')

In [108]:
company_url_type = ["IoT_URL"]
source_id_list = ['4']
source_id_dict = dict(zip(company_url_type,source_id_list))
table_name_from = "Company_URL_Table" 
table_name_to = "iot_URL_Table" 
field_names_from = ["company_id","company_url","company_url_type"]
field_names_to = ("iut_id","company_id","company_iot_url","source_id")
company_iot_url_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,source_id_dict,database_from)

In [109]:
table_name = "company_iot_nation_rank" 
fieldnames = ("rank_id","company_id","company_iot_rank","source_id")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
extract_attributes = ['IoT Nation Rank Q2','IoT Nation Rank Q1']
source_id = [3,2]## this should correspond with extract_attributes
insert_company_OnetoM(table_name,fieldnames,source_id,csv_path,extract_attributes)

Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('269','203','5003','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('949','712','4997','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('995','746','2387','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('1006','754','447','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('1261','940','1383','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('1294','965','1377','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('1303','971','5123','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('1367','1017','4966','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('1457','1083','2540','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('1854','1372','3416','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('1892','1400','294','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('2130','1574','3278','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('2307','1713','3541','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('2368','1762','6295','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('2606','1937','5290','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('2750','2055','3330','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('2988','2228','102','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('3194','2376','5380','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('3307','2468','4420','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('3368','2513','4858','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('3456','2578','4963','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('3560','2660','2428','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('3650','2729','1940','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('4082','3050','3160','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('4220','3156','6002','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('4231','3166','1351','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('4595','3452','1910','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('4824','3627','5956','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('4825','3628','5955','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('4926','3703','5345','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('5063','3810','6228','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('5064','3811','4897','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('5101','3841','4448','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('5171','3893','1630','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('5232','3938','5783','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('5234','3940','5835','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('6058','4554','5085','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('6098','4585','4401','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('6688','5032','4630','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7115','5342','2088','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7517','5577','2379','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7522','5580','2390','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7575','5607','1022','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7576','5608','2012','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7579','5610','3546','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7594','5619','2490','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7625','5635','1304','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7666','5657','1312','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7691','5677','221','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7692','5678','99','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7861','5769','2356','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7896','5791','2133','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7903','5795','2206','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7906','5797','2225','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7920','5806','2163','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7951','5826','2296','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7958','5831','2289','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('7963','5835','2237','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8063','5894','238','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8080','5903','1668','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8106','5920','127','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8151','5945','4959','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8304','6025','2781','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8307','6027','2800','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8390','6069','5113','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8391','6071','124','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8403','6083','1075','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8440','6109','2667','2')

Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8455','6119','2872','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8536','6166','2767','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8566','6183','2706','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8590','6197','2682','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8661','6234','2609','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8695','6252','2770','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8743','6281','694','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8776','6298','840','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8795','6308','865','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8810','6316','731','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8839','6331','632','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8860','6342','507','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8861','6343','508','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8891','6360','483','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8892','6361','480','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8893','6362','433','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8894','6363','432','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8964','6403','504','2')
Error！！！INSERT INTO company_iot_nation_rank(rank_id,company_id,company_iot_rank,source_id) VALUES('8969','6406','745','2')

In [110]:
table_name = "address_table" 
fieldnames = ("address_id","street_1","street_2","city","state","zipcode","country","longitude","latitude","full_address")
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
extract_attributes = ['Headquarters Address: Street 1','Headquarters Address: Street 2','Headquarters Address: City','Headquarters Address: State','Headquarters Address: Zip','Headquarters Address: Country','Headquarters Address: Longitude','Headquarters Address: Latitude','Headquarter Address']
list0,list1 = insert_address_M(table_name,fieldnames,csv_path,extract_attributes)
company_dict = dict(zip(list1,list0))

In [111]:
table_name = "company_address_table" 
fieldnames = ("cas_id","company_id","address_id","company_address_type","source_id",)
csv_path = 'iotnationbd_20180605 - iotnationbd(all).csv'
company_address_type = ['hq']
extract_attributes = ['Headquarter Address']
source_id = ['1']
insert_company_address(table_name,fieldnames,source_id,csv_path,extract_attributes,company_address_type)

Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('196','203','194','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('689','712','657','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('721','746','686','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('729','754','693','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('909','940','850','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('932','965','870','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('938','971','876','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('982','1017','914','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('1047','1083','968','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('1329','1372','1219','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('1355','1400','1242','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('1521','1574','1388','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('1657','1713','1504','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('1702','1762','1544','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('1868','1937','1694','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('1978','2055','1394','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('2148','2228','1943','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('2291','2376','2072','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('2378','2468','2149','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('2422','2513','2186','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('2485','2578','2244','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('2564','2660','2310','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('2632','2729','2368','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('2947','3050','2631','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3051','3156','2724','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3061','3166','2733','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3335','3452','2969','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3507','3627','3111','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3508','3628','3111','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3583','3703','27','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3683','3810','3250','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3684','3811','2189','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3711','3841','3274','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3761','3893','3317','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3806','3938','3358','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('3808','3940','3360','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('4404','4554','3865','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('4435','4585','2600','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('4863','5032','4242','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5194','5607','4542','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5223','5677','3471','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5224','5678','4567','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5293','5894','4595','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5303','5920','4641','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5320','6069','4658','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5321','6071','4311','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5328','6083','4665','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5369','6281','4706','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5386','6298','4723','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5396','6308','4732','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5404','6316','4739','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5419','6331','4754','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5430','6342','4764','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5431','6343','4763','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5447','6360','4780','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5448','6361','4781','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5449','6362','4782','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5450','6363','4783','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5486','6403','4818','hq','1')
Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('5489','6406','4821','hq','1')

Error！！！INSERT INTO company_address_table(cas_id,company_id,address_id,company_address_type,source_id) VALUES('8942','10657','7998','hq','1')

In [112]:
table_name = "job_title_table" 
fieldnames = ("jtt_id","original_title","re_constructed_title","source_id",)#index, source 
csv_path = 'iotnationbdcontacts.csv'
aim_attribute = 'Actual Title'
source_id = ['1']
title_list0,title_list1 = insert_title_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

(ptt_id,original_title,re_constructed_title,source_id)

In [113]:
from itertools import izip
title_dict = dict(zip(title_list1,title_list0))
#print title_zip
#print title_dict
A = title_dict['EVP Sales and Strategy']
print A

187

In [114]:
table_name = "person_index_table" 
fieldnames = ("person_id","first_establish_id","last_update_id")
csv_path = 'iotnationbdcontacts.csv'
aim_attribute = 'Index'
source_id = [1,2]## this should correspond with extract_attributes
insert_people_index(table_name,fieldnames,source_id,csv_path,aim_attribute)

In [115]:
table_name = "person_linkedin_table" 
fieldnames = ("plt_id","person_id","person_linkedin"," source_id")
csv_path = 'iotnationbdcontacts.csv'
aim_attribute = 'Linkedin Profile'
source_id = ['1']
insert_company_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

In [116]:
table_name = "person_phone_table" 
fieldnames = ("ppt_id ","person_id","person_phone_number","person_phone_type"," source_id")
csv_path = 'iotnationbdcontacts.csv'
aim_attribute = 'Contact Phone'
source_id = ['1']
insert_person_attribute(table_name,fieldnames,source_id,csv_path,aim_attribute)

In [117]:
table_name = "person_email_table" 
fieldnames = ("pet_id","person_id","person_email_address","person_email_type","source_id")
csv_path = 'iotnationbdcontacts.csv'
extract_attributes = ['Work Email','Email Address']
type_id = ['work','personal']
source_id = [3,4]
insert_person_OnetoM(table_name,fieldnames,source_id,csv_path,extract_attributes,type_id)

In [118]:
table_name = "person_name_table" 
fieldnames = ("pnt_id","person_id","person_first_name","person_middle_name","person_last_name","source_id")
csv_path = 'iotnationbdcontacts.csv'
extract_attributes = ['Full Name (Main): First','Full Name (Main): Middle','Full Name (Main): Last']
type_id = ['work','personal']
source_id = ['1']
insert_person_name(table_name,fieldnames,source_id,csv_path,extract_attributes)

In [119]:
company_name_type = ["Official Name","Main_Name","Known_As","Prev_Name","Other_Name"]
source_id_list = ['4','3','2','0','1']
source_id_dict = dict(zip(company_name_type,source_id_list))
table_name_from = "Company_Name_Table" 
table_name_to = "Company_Name_Table" 
field_names_from = ["cnt_id","company_id","company_name","company_name_type"]
field_names_to = ("cnt_id","company_id","company_name","source_id")
keys = 'company_name'
values = 'company_id'
list_keys,list_values = company_name_from_aws_inconsistent(table_name_from,table_name_to,field_names_from,field_names_to,source_id_dict,keys,values,database_from)

Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('48209','5860','ADRAL Alentejo Regional Development Agency','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('228957','1656','Flex','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('69611','3171','Nippon Telegraph and Telephone Corporation','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('228667','5334','Samsung ARTIK Cloud Services-SmartThings','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('229115','3788','Robert Bosch GmbH','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('229324','2349','Itron','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214053','229','AMAZON','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('229325','4302','STMicroelectronics','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214052','7360','AKM','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214054','357','ARM','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214056','402','ATT','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214061','1217','DIGI','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('228678','4755','US Cellular','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('229326','2427','KDDI Corporation','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214072','2522','LT&T','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214077','2824','MICROCHIP','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214081','2952','MULTITECH','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214083','3049','NERDERY','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214087','6429','PRAETORIAN','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214088','3632','QUALCOMM','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214090','3732','RENASSAS','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214091','3826','RTX','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214092','6475','SALESFORCE','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214094','6268','SOLSTICE','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214095','4278','SPLUNK','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214096','4302','ST','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214101','4578','TEXAS INSTRUMENTS','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214102','4745','TWILIO','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214105','4890','VERIZON','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('214108','5106','WPI','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('238920','98','ADEUNIS','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('229083','705','Broadcom Corporation','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('237785','4887','Verifone, Inc.','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('229318','4066','Silicon Labs','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('229339','4957','Vuzix','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('229321','4754','u-blox AG','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('269840','6642','National Taiwan University of Science and Technology','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('235560','15668','SAAR Associates Inc. (SAI)','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('235648','1181','Dell Inc.','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('254798','6262','REXENSE','1')
Error！！！INSERT INTO Company_Name_Table(cnt_id,company_id,company_name,source_id) VALUES('280828','7414','Shenzhen Aquilstar Technology Co.,LTD','1')

In [120]:
company_dict = dict(zip(list_keys,list_values))

In [121]:
table_name = "Person_Job_Table" 
fieldnames = ("PJT_ID","Company_ID","Person_ID"," jtt_id ","city","country","current","source_id")
#for_match = 'Headquarter Address'#,"Headquarter Address")
csv_path = 'iotnationbdcontacts.csv'
extract_attributes = ['Company Name','Actual Title','Location','Country','Company Name']
current = 'false'#default value
source_id = ['1']
insert_person_job(table_name,fieldnames,source_id,csv_path,extract_attributes,current)